:root {
    --color-primary: #80db8c;
    --color-primary-light: #4f5b62;
    --color-primary-dark: #000a12;

    --color-text: #ffffff;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:var(--color-primary);
}
.logo
{
 text-align: center;   
}
h1{
    text-align: center;
    font-family: "comic sans MS"; 
    font-size: 2.2em;
}
h2
{
    text-align: center; 
    font-style: bold; 
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;  
}
.img_enfant_heureux
{
    text-align: center;   
}
.desc_brève
{
    text-align: center; 
    font-size: large;  
}
.acceuil
{
    text-align: center;   
}
.boutique
{
    text-align: center;   
}
.contact
{
    text-align: center;   
}
.a_propos
{
    text-align: center;   
}
.purée
{
    text-align: center;
    font-size: 1.2em;
}
ul
{
    text-align: center;
    list-style-type: none;
}
footer {
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5em;            /* Footer height */
  }
.help
{
    color: #000;
    font-size: 0.5em;
    background-color: #000;
}
.opacity
{
    opacity: 0.5;
}
#bar_1
{
    background-color: #000;
    display: flex;
    justify-content: space-between;
}
.point
{
    color: #000;
}
.trois_bar
{
    text-align: left;
}
#bar_2
{
    background-color: #000;
    display: flex;
    justify-content: space-between;
}
.deux
{
    font-size: 1.7em;
}
.trois
{
    font-size: 1.7em;
}
.boutique
{
    font-size: 1.7em;
}
.boutique:hover
{
    background-color: blue;
}
.deux:hover
{
    background-color: blue;
}
.trois:hover
{
    background-color: blue;
}
.acceuil
{
    font-size: 2em;
}
.acceuil:hover
{
    background-color: blue;
}