.logo
{
 text-align: center;   
}
h1{
    text-align: center;   
}
h2
{
text-align: center;   
}
.img_enfant_heureux
{
text-align: center;   
}
.desc_brève
{
text-align: center;   
}
.acceuil
{
text-align: center;   
}
.boutique
{
text-align: center;   
}
.contact
{
text-align: center;   
}